.root {
  -fx-background-color: #000000;
}

Region {
  -fx-background-color: #000000;
}

.window {
  -fx-background-color: #000000;
  -fx-border-width:     2;
  -fx-border-color:     #ffffff;
  -fx-border-radius:    5;
}

.windowTitle {
  -fx-padding: 10 10 10 10;
}

.windowButtonRow {
  -fx-padding: 0 0 10 0;
}


ListView {
  -fx-background-color: #000000;
  -fx-border-color: #000000;
}

.list-cell {
  -fx-text-fill: #ffffff;
}

.list-cell:filled:selected:focused,
.list-cell:filled:selected {
  -fx-background-color: #0000ff;
}


.list-cell:odd,
.list-cell:even {
  -fx-background-color: #000000;
}

.list-cell:filled:hover { 
    -fx-background-color: #000088;
}
