.root {
  -fx-background-color: #000000;
  -fx-font-family: "Tahoma";
  -fx-base: #ff19ff;
}

Region {
  -fx-background-color: #000000;
}
.shadow {
/*  -fx-background-color: #800c80;*/
}

Button {
  -fx-text-fill: #ffffff;
/*  -fx-background-color: #0068ff;*/
/*  -fx-background-color: #e3a01e;*/
  -fx-background-color: #ff19ff;
}

TextField {
  -fx-text-fill: #ffffff;
  -fx-background-color: #800c80;
}  
/*
.radio-button .dot {
  -fx-mark-color: #ff19ff;
  -fx-border-color: yellow;
}
*/
.window {
  -fx-background-color: #000000;
  -fx-border-width:     2;
/*  -fx-border-color:     #ffffff;*/
  -fx-border-color:     #a810a8;
  -fx-border-radius:    5;
}

.windowTitle {
  -fx-padding: 10 10 10 10;
}

.windowButtonRow {
  -fx-padding: 0 0 10 0;
}


ListView {
  -fx-background-color: #000000;
  -fx-border-color: #000000;
}

.list-cell {
  -fx-text-fill: #ffffff;
}

.list-cell:filled:selected:focused,
.list-cell:filled:selected {
/*  -fx-background-color: #0068ff;*/
/*  -fx-background-color: #e3a01e;*/
  -fx-background-color: #ff19ff;
}


.list-cell:odd,
.list-cell:even {
  -fx-background-color: #000000;
}

.list-cell:filled:hover { 
/*  -fx-background-color: #0044a8;*/
  /*-fx-background-color: #b27d18;*/
  -fx-background-color: #a810a8;
}
