.root {
  -fx-background-color: #000000;
  -fx-font-family: "Tahoma";
  -fx-base: #ff19ff;
}

Region {
  -fx-background-color: #000000;
}
.shadow {
}

.logo {
  -fx-padding: 10 0 50 0;
}

Button {
  -fx-text-fill: #ffffff;
}

.bottomButton {
  -fx-padding: 0 0 50 0;
}


TextField {
  -fx-text-fill: #ffffff;
  -fx-background-color: #800c80;
}  

.window {
  -fx-background-color: #000000;
  -fx-border-width:     2;
  -fx-border-color:     #a810a8;
  -fx-border-radius:    5;
}

StackPane.windowTitle {
  -fx-padding: 0 10 0 10;
  -fx-background-color: #800c80;
  -fx-text-fill: #ffffff;
}

Text.windowTitle {
  -fx-font-weight: bold;
}


.windowButtonRow {
  -fx-padding: 0 0 10 0;
}


ListView {
  -fx-padding: 2 2 2 2;
}

.list-cell {
  -fx-text-fill: #ffffff;
}

.list-cell:filled:selected:focused,
.list-cell:filled:selected {
  -fx-background-color: #ff19ff;
}


.list-cell:odd,
.list-cell:even {
  -fx-background-color: #000000;
}

.list-cell:filled:hover { 
  -fx-background-color: #a810a8;
}


GridPane.settings {
  -fx-hgap: 10;
  -fx-padding: 10 10 10 10;
}
